$background-color: #4d4e4f;
$h1-font-color: #ffffff;
$body-font-family: 'Open Sans';
$sidebar-color: lightgrey;

$hydration-background: #56B4E9;
$sleep-background: #009E73;
$activity-background: #F0E442;

$document-font-family: sans-serif;

* {
  margin: 0;
}

body {
  font-family: $body-font-family;
  margin: 0;
  background-color: $background-color;
  height: auto;
}

h1 {
  text-align: center;
  color: $h1-font-color;
  height: 80px;
  padding-top: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 1500px;
}

.main-sidebar-body {
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 100%;
}

.body-sidebar-sidebarContainer {
  background-color: $sidebar-color;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: scroll;
}

.sidebar-header-name {
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: $document-font-family;
  font-weight: bold;
  font-size: 1.2em;
  margin: .5em .5em .5em .5em;
  width: inherit;
}

.sidebar-header-line {
  color: #ffffff;
  border: 1px solid black;
  margin: 1em 1em 0 1em;
  height: 0;
  width: 80%;
}

.sidebar-header-userImage {
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 200px;
  width: 200px;
  margin: 4px 2px 2px 2px;
  justify-content: center;
}

.sidebar-body-friendContainer {
  display: flex;
  flex-direction: column;
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  width: 100%;
  border: 1px solid black;
  margin: 0 0 1em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.main-column-hydration {
  display: flex;
  flex-direction: row;
  height: 25%;
}

.main-column-activity {
  @extend .main-column-hydration;
  height: 50%;
}

.main-column-sleep {
  @extend .main-column-hydration;
  height: 35%;
}


.infoContainer-cardContainer-card-horizontal {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.infoContainer-cardContainer-card-vertical {
  @extend .infoContainer-cardContainer-card-horizontal;
  flex-direction: row;
  overflow: scroll;
}

.horizontalCard-activity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  overflow: scroll;
}

.card-today-hydration {
  text-align: center;
  height: auto;
  font-size: 1.5em;
  margin: .5em;
  font-family: $document-font-family;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  background-color: $hydration-background;
}

.card-today-sleep {
  @extend .card-today-hydration;
  background-color: $sleep-background;
}

.card-today-activity {
  @extend .card-today-hydration;
  background-color: $activity-background;
}

.card-history-hydration {
  text-align: center;
  font-size: 1em;
  margin: .5em;
  font-family: $document-font-family;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  background-color: $hydration-background;
}

.card-history-sleep {
  @extend .card-history-hydration;
  background-color: $sleep-background;
}

.card-history-activity {
  @extend .card-history-hydration;
  background-color: $activity-background;
  height: 93%;
  overflow: scroll;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: black;
  font-kerning: normal;
}

.thisWeek, .historicalWeek {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: black;
}

.card-vertical-list {
  list-style-type: none;
  font-size: 1em;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
}

.historical-list-listItem {
  color:black;
  padding: .3em;
  font-weight: bold;
  font-family: $document-font-family;
}
