$background-color: #4d4e4f;
$h1-font-color: #ffffff;
$body-font-family: 'Open Sans';
$sidebar-color: lightgrey;

$hydration-background: #56B4E9;
$sleep-background: #009E73;
$activity-background: #F0E442;

$document-font-family: sans-serif;
